
<ion-header>
  <ion-navbar>
    <img *ngIf="profile_img" src="https://swtch.cloud{{profile_img}}" alt="" class="header_img">
    <ion-title>Sign Page</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="social" padding>
  <!-- just a login button if not authenticated -->
  <div *ngIf="!auth.isAuthenticated()">
    <button ion-button block color="light" class="sign" (click)="auth.login()">Login</button>
  </div>

  <!-- a card with your picture and name, plus a logout button -->
  <div *ngIf="auth.isAuthenticated()">
    <ion-card>
      <img [src]="auth.user.picture" />
      <ion-card-content>
        <ion-card-title>{{ auth.user.name }}</ion-card-title>
      </ion-card-content>
    </ion-card>
    <button ion-button block color="light" class="sign" (click)="auth.logout()">Logout</button>
  </div>
</ion-content>
