
<ion-header>
  <ion-navbar>
    <img *ngIf="profile_img" src="{{profile_img}}" alt="" class="header_img">

    <button ion-button clear class="header-icon" (click)="dismiss()" left>
      <ion-icon name="md-arrow-back"></ion-icon>
    </button>
    <ion-title>User Information</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="custom-content">

  <div class="title">
    <div class="bg_title"></div>
    <p class="name">{{userAuthor.given_name}} {{userAuthor.family_name}}</p>
  </div>

  <div class="profile">
    <div class="user_img">
      <img *ngIf="!userAuthor.image_file_name" src="assets/image/avatar.png" alt="">
      <img *ngIf="userAuthor.image_file_name" src="https://swtch.cloud/system/images/{{userAuthor.id}}/small/{{userAuthor.image_file_name}}" alt="">
    </div>
    <div class="contact">
      <div class="btn">
        <button ion-button outline middle class="contact_btn" (click)="sendMessagePage(name)">Contact {{userAuthor.given_name}}</button>
        <button ion-button outline middle class="contact_btn">Follow</button>
      </div>
    </div>
  </div>

  <div *ngIf="!userAuthor.description" class="box"></div>

  <div *ngIf="userAuthor.description" class="description">{{userAuthor.description}}</div>

  <div class="listing">
    <h2>1 opening listing</h2>
    <div class="box"></div>
    <div class="listing_details">
      <img style="width: 100%;" src="{{bg_img}}" alt="">
      <p class="rate">${{min_rate}}~{{max_rate}}/h</p>
      <p class="user_name">{{userInfoData.title}}</p>
    </div>
  </div>

  <div class="followed">
    <h2>2 followed people</h2>
    <div class="box"></div>
    <div class="people">
      <div class="person">
        <img src="assets/image/avatar.png" alt="">
        <p>Black Chai</p>
        <button ion-button outline small>Follow</button>
      </div>
    </div>
  </div>

  <div class="reivew" *ngIf="review_Value">
    <h2>{{review_Value}} received reviews ({{review_percent}} positive, {{review_ok}}/{{review_Value}})</h2>
    <div class="box"></div>
    <ion-list>
      <ion-item class="thumb-list" *ngFor="let item of user_Recieve">
        <ion-thumbnail item-start class="user-photo">
          <img *ngIf="!item.image_url" src="assets/icon/avatar1.png">
          <img *ngIf="item.image_url" src="https://swtch.cloud{{item.image_url}}">
        </ion-thumbnail>
        <h3>{{item.name}}</h3>
        <p class="text-descript">{{item.text}}</p>
        <p>{{item.created_at | amTimeAgo}}</p>
        <button *ngIf="item.grade" ion-button clear item-end class="thum-up"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        <button *ngIf="!item.grade" ion-button clear item-end class="thum-up"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
