

<ion-header>
  <ion-navbar>
    <img *ngIf="!person" src="assets/image/avatar.png" alt="" class="header_img">
    <img *ngIf="person" src="{{person.picture}}" alt="" class="header_img">
    <ion-title>Contact SWTCH Team</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="custom-content" padding>

    <img src="assets/image/5.jpg">
    <img class="contact" src="assets/image/chain.png">
    <h4 style="text-align:center;">Please Contact with Swtch</h4>
    <button ion-button style="width: 100%;" (click)="goContactTeamPage()">Contact Swtch</button>

</ion-content>
