page-profile {
.pro_page{
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 120px;
  .info{
    width: 60%;
    float: left;
    p{
      text-align: center;
      margin: 10px 0;
    }
    .name{
      font-size: 17px;
      font-weight: 500;
    }
  }
  .avatar{
    width: 40%;
    float: left;
      img{
        width: 80px;
        display: block;
        margin: 0 auto;
        border: 1px solid blue;
        border-radius: 50%;
      }
    }
  }
  .profile_div{
    position: relative;
    margin-top: 10px;

    .title_div{
      width: 100%;
      background-color: #6de2a1;
      vertical-align: middle;
      align-items: center;
      justify-content: center;
      display: flex;

      p{
        text-align: center;
        margin: 7px 0;
      }
      button{
        position: absolute;
        right: 5px;
        top: 7px;
      }
    }
  }
  .group{
    width: 100%;

    .item-divider{
      padding: 0px;
      .label{
          margin: 0;
      }
    }
    .section-header{
      background-color: #dedede;
      width: 100%;
      text-align: center;
      padding: 5px;
      p{
        font-size: 18px;
        color: $font-color;
      }
      .edit{
        position: absolute;
        right: 5px;
        font-size: 14px;
        bottom: 20px;
        border: 1px solid;
        border-radius: 3px;
        color: $font-color;
      }
    }
    .title1{

      .value1{
        width: 40%;
        text-align: left;
        padding: 7px 0px;
        padding-left: 15px;

      }
      .value2{
        width: 60%;
        text-align: center;
        padding: 7px 0px;
        font-size: 15px;
        font-weight: 500;
      }
    }
    .updated-date{
      background-color: #a2a2a2;
      width:100%;
      color: $font-color;
      font-size: 12px;
      text-align: center;
    }
  }
}
