<ion-header>
  <ion-navbar>
    <!-- <img *ngIf="!person" src="assets/image/avatar.png" alt="" class="header_img"> -->
    <img *ngIf="person" src="{{person.picture}}" alt="" class="header_img">
    <ion-title>About SWTCH</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="custom-content" padding>
  <div *ngFor="let item of pages" >
    <button ion-button full class="setting_btn" (click)="goAboutPage(item.title, item.url)">
      <ion-icon name="{{item.icon}}" class="icon1"></ion-icon>
      <p class="title">{{item.title}}</p>
      <ion-icon name="ios-arrow-forward-outline" style="margin-right: -5px;"></ion-icon>
    </button>
  </div>

</ion-content>
