page-about-tab {

  .scroll-content{
    padding: 0;
  }

  .title{
        width: 100%;
        text-align: left;
      }
      .setting_btn{
        margin-top: 5vh;
        height: 50px;
        background-color: $background-color;
        color: $font-color;
        box-shadow: 1px 1px 5px black;

         p {
           text-transform: none;
           margin-left: 20px;
           font-size: 20px;
         }
         .icon1{
           font-size: 30px;
           font-weight: 600;
         }
         .icon2{
           margin-right: -5px;
          }
      }
}
