page-user-profile {

  .header_img{
    width: 38px;
    height: 38px;
    position: absolute;
    right: 5px;
    bottom: -4px;
    border-radius: 50%;
    }
  .toolbar-content-md{
    .header_img{
      bottom: -10px;
    }
  }
  .user_title{
    font-size: 22px;
    text-align: center;
    margin: 10px auto;
  }
  .background{
    width: 100%;
    height: 35vh;
    background-size: 100% auto;
    position: relative;

    .bg_img{
      width: 100vw;
      height: 35vh;
    }
    .profile_img{
      bottom: 0px;
      position: absolute;
      width: 20vw;
      margin: 8px;
      border: 2px solid #ffffff;
      border-radius: 1px;
      display: block;
      background-color: rgba(195, 194, 194, 0.7);
    }
    .name{
      position: absolute;
      float: left;
      bottom: 5px;
      left: 20vw;
      margin-left: 13px;
      margin-bottom: 5px;
      p {
        color: white;
        font-size: 17px;
      }
    }
    .feedback{
      position: absolute;
      right: 0px;
      bottom: 0px;
      img{
        width: 30px;
        float: right;
        margin-top: 14px;
      }
      p{
        float: right;
        text-align: center;
        color: #ffffff;
      }
    }
  }

  .description{
    padding: 0 10px;

    .about{
      border: 1px solid;
      padding: 5px;
      margin-top: -5px;
      border-radius: 3px;
    }
  }

  .group{
    width: 100%;

    .item-divider{
      padding: 0px;
      .label{
          margin: 0;
      }
      .section-header{
        background-color: #dedede;
        width: 100%;
        font-size: 18px;
        text-align: center;
        padding: 5px;
        p{
          color: $font-color;
          font-size: 18px;
        }
      }
      .updated-date{
        background-color: #a2a2a2;
        width:100%;
        color:$font-color;
        font-size: 12px;
        text-align: center;
      }
    }
    .detail{
      p{
        margin: 5px 0;
        padding-left: 20vw;
      }
      .title1{
        padding-left: 17vw;
        font-weight: 500;
        font-size: 17px;
      }
      .icon-tt{
        font-size: 17px;
        padding-right: 5px;
        color: blue;
        font-weight: 900;
      }
    }

  }
  .map-item{
    margin: 5px ;
    border-radius: 5px;
    position: relative;
    border: 1px solid;
  }
  #map {
    width: 100%;
    height: 200px;
  }
  .monthview-container{
    height: 275px !important;
  }
  .weekview-container{
    height: 275px !important;
  }
  .dayview-container{
    height: 275px !important;
  }
  .btn{
    button{
      padding: 3vw !important;
    }
  }
  .list{
    padding: 16px;
    .item-input{
      padding: 0px;
      .item-inner{
        padding-right: 0 !important;
      }
    }
  }

  .textarea{
      border: 1px solid;
      padding: 5px;
      height: 100px;
      border-radius: 2px;

      .text-input{
        height: 100%;
      }
    }

}
.md
{
  .kkk{
    width: 100%;
    .toolbar-content-md{
        position: absolute;
        width: 100%;
        left: 0;
    }
    .header-icon{
      height: 15px;
    }
  }
  .avatar{
    img{
      width: 50px;
      height: 50px;
      border: 1px solid rgb(24, 186, 255);
      border-radius: 5px;
    }
  }

}
