page-payment {
  .text_input{
    border: none !important;
    margin-top: 10px;

    .txt{
      border: 1px solid;
      border-radius: 3px;
      padding: 0 5px;
    }
    .edit-select{
      border: 1px solid;
      padding-left: 5px;
      border-radius: 3px;
    }
  }
}
