// @import 'font-awesome';

$font-stack:    Helvetica, sans-serif;
$font-color: #2d2d2d;
$background-color: #dedede;
.sign_bg{
  background: url("../assets/image/background.png");
  text-align: center;
  background-size: auto 100%;
  background-repeat: repeat-x;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  filter: blur(3px);
  position: absolute;
  height: 100%;
  width: 100%;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
  color: #0c0c0c;
}
.item-block{
  color: #2d2d2d !important;
}
.toolbar{
  border-bottom: 1px solid #008ecf;
}
.header-icon{
  color: #fff;
  height: 100%;
}
.header-icon {
    color: #fff;
    height: 100%;
    padding-left: 10px;
    color: #2d2d2d;
}
.custom-content{
  padding: 16px 0 !important;
}
.menu-title{
  height: 150px;
  .logo_img{
    position: absolute;
    top: 10px;
    width: 30px;
    left: 10px;
  }
  .profile-div{
    // margin-top: -85px;

    img{
      width: 80px;
      border-radius: 50%;
      border: 2px solid;
      margin: 0 auto;
      display: block;
    }
    p{
      text-align: center;
      margin: 5px 0;
    }
  }
  .toolbar-background{
    background-image: url("../assets/image/bg_middle.png");
  }
}
.toolbar-background{
    background-color: $background-color;
}

.toolbar-title {
  color: $font-color;
  font-size: 18px;
}

.item-block .item-inner{
  border-bottom: none !important;
}
.item-block:last-child{
  border-bottom: none !important;
}


.md {
  .header-icon{
    position: absolute;
    top: 0;
    height: 15px;
  }
  ion-title{
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .toolbar-content-md{
    position: absolute;
    width: 76%;
    left: 12%;
  }
}
.fab-nav{
  bottom: 85px;
  right: 0px;

  .fab-in-list{
    border: 1px solid #545454;
  }

  .main{
    width: 50px;
    height: 50px;
  }
  .list-charger{
    width: 55px;
    height: 55px;
    background-color: #7b7b7b;
    color: black;
    border: 1px solid #545454;
    color: white;
    font-size: 25px;
  }


}
