
<ion-header>
  <ion-navbar>
    <img *ngIf="profile_img" src="{{profile_img}}" alt="" class="header_img">
    <ion-title>List Charger</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="custom-content">
  <div class="">
    <ion-list>
      <ion-item class="text_input">
        <ion-label color="primary" stacked style="font-size: 17px;">Listing Title *</ion-label>
        <ion-input type="text" class="txt"></ion-input>
      </ion-item>

      <ion-item class="text_input">
        <ion-label color="primary" stacked style="font-size: 17px;">Additional Price (hourly dollar amount).</ion-label>
        <ion-label color="dark" stacked class="info"><ion-icon name="ios-information-circle"></ion-icon>
          &nbsp;&nbsp;If you wish to add a premium fee on top of the standard 40-50% commission, please indicate the hourly dollar amount here.</ion-label>
        <ion-input type="number" placeholder="0.00" class="txt"></ion-input>
      </ion-item>

      <ion-item class="text_input">
        <ion-label color="primary" stacked style="font-size: 17px;">Detailed description</ion-label>
        <ion-label color="dark" stacked class="info"><ion-icon name="ios-information-circle"></ion-icon>
          &nbsp;&nbsp;If your description contains YouTube links, the videos will be shown below the description.</ion-label>
        <ion-textarea class="textarea" name="comment"></ion-textarea>
      </ion-item>
    </ion-list>
  </div>

  <div class="daily">
    <h4>Time slots available for service</h4>
    <ion-grid class="date">
      <ion-row>
        <ion-col col-4>Date:</ion-col>
        <ion-col col-3>From:</ion-col>
        <ion-col col-3>To:</ion-col>
      </ion-row>
    </ion-grid>
    <div class="schedule">
      <!-- Weekly -->
        <div *ngFor="let item of weekdays" class="weekdays">
          <p class="title">{{item.weekday}}:</p>
          <div class="day-check">
            <div class="date">
                <ion-toggle [(ngModel)]="item.dayToggle" class="date-toggle"></ion-toggle>
            </div>
            <div *ngIf="item.dayToggle" class="from-to">
              <!-- <ion-input type="time" value="" [disabled]="item.dayCheck"></ion-input> -->
              <ion-datetime displayFormat="HH:mm" [(ngModel)]="item.from" class="date-timer" [disabled]="item.dayCheck"></ion-datetime>
            </div>
            <div *ngIf="item.dayToggle" class="from-to">
              <ion-datetime displayFormat="HH:mm" [(ngModel)]="item.to" class="date-timer" [disabled]="item.dayCheck"></ion-datetime>
            </div>
            <div *ngIf="item.dayToggle" class="add_delete">
              <button ion-button icon-only small clear [disabled]="item.dayCheck" class="add"><ion-icon name="ios-add-circle"></ion-icon></button>
            </div>
          </div>
        <ion-item *ngIf="item.dayToggle">
          <ion-label style="font-size: 15px;">Check if listing is Available 24/7</ion-label>
          <ion-checkbox [(ngModel)]="item.dayCheck"></ion-checkbox>
        </ion-item>
      </div>
    </div>
  </div>

  <div class="outlet_network" padding>
    <div class="on_title">Outlet*</div>
    <ion-list>
      <ion-item *ngFor="let item of outlets">
        <ion-label>{{item.outlet}}</ion-label>
        <ion-checkbox [(ngModel)]="item.outCheck"></ion-checkbox>
      </ion-item>
    </ion-list>

    <div class="on_title">Network*</div>
    <ion-list>
      <ion-item *ngFor="let item of networks">
        <ion-label>{{item.network}}</ion-label>
        <ion-checkbox [(ngModel)]="item.netCheck"></ion-checkbox>
      </ion-item>
    </ion-list>

    <div class="on_title">Auto Accept(Note this allow for anyone to book your charger without you screening them first)</div>
    <ion-item *ngFor="let item of accepts">
      <ion-label>Auto Accept</ion-label>
      <ion-checkbox [(ngModel)]="auto"></ion-checkbox>
    </ion-item>
  </div>

  <div class="address">
    <ion-item class="text_input">
      <ion-label color="primary" stacked>Location</ion-label>
      <ion-input [(ngModel)] ="address" type="text" placeholder="Location" class="txt"></ion-input>
    </ion-item>
    <button ion-button small (click)="searchAddress(address)"><ion-icon name="search"></ion-icon></button>
  </div>

  <div class="map-item">
    <div #map id="map"></div>
  </div>

  <div class="img_list" padding>
    <div class="add_img">
      <img src="assets/icon/avatar.png" alt="" class="fill_img">
    </div>
    <div class="add_img">
      <img src="{{list_image}}" alt="" class="fill_img">
    </div>
    <div class="add_img" (click)="imageUpload()">
      <img src="assets/image/plus.png" alt="">
    </div>
  </div>

  <button ion-button class="save">Save Information</button>
</ion-content>
