.ios, .md {
    page-home-tab {
      .scroll {
        height: 100%
      }
      #map {
        width: 100%;
        height: 100%;
        .gmnoprint{
          .gm-style-mtc, .gm-svpc{
            display: none;
          }
        }
        .gm-fullscreen-control{
          display: none;
        }
      }

      .address{

        position: absolute;
        z-index: 9;
        width: calc(100% - 90px);
        left: 0;
        margin-top: 6px;

        .text_input{
          width: calc(100% - 45px);
          float: left;
          background: transparent;
          padding-left: 10px;
          .txt{
            input{
              border: 1px solid black;
              height: 34px;
              margin: 5px 0;
              border-radius: 3px;
              padding: 3px 10px;
              background: #ffffff;
              opacity: 0.9;
            }
          }
        }
        button{
          width: 35px;
          float: left;
          height: 35px;
          font-size: 17px;
        }
      }
      .background{
        width: auto;
        height: 150px;
        .bg{
          width: 200px;
          height: auto;
          display: block;
        }
        .title{
          margin-top: -30px;
          margin-left: 5px;
          font-size: 17px;
          color: #ffffff;
          font-weight: 400;
          margin-bottom: 5px;
          max-width: 200px;
          position: absolute;
          line-height: 15px;
        }
        .avatar{
          width: 24%;
          border: 1px solid;
          float: left;
          margin-right: 10px;
        }
        .name{
          font-size: 15px;
          color: blue;
          padding-top: 6px;
          margin-bottom: -8px;
        }
      }

      .profile{
        position: absolute;
        z-index: 999;
        right: 5px;
        top: 5px;
        img{
          width: 50px;
          height: 50px;
          border: 1px solid black;
          border-radius: 50%;
          display: block;
          margin: 0 auto;
        }
        p{
          text-align: center;
          margin: 5px 0;
        }

      }
    }
}
